*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url("./images/bg-pattern-top-desktop.svg"), url("./images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 40%, 80%;
    background-position-x: 0, 490px;
    background-position-y: 0, 100px;
}
.section-container{
    width: 1200px;
    height: auto;
}
.section-container-main{
    display: grid;
    grid-template-columns: auto auto auto;
}
.title-container{
    width: 420px;
    height: auto;
}
.title-container h1{
    color:  hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 12px;
}
.title-container span{
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
    color:  hsl(303, 10%, 53%) ;
}
.new-container{
    background-color: hsl(300, 24%, 96%);
    width: 450px;
    border-radius: 10px;
    padding: 20px 35px;
    font-size: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.container-1{
    margin-left: 310px;
}
.container-2{
    margin-left: 370px;
}
.container-3{
    margin-left: 440px;
}
.new-container span{
    margin-left: 25px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}
.card-main{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr  1fr  1fr;
    column-gap: 25px;
}
.card-container{
    background-color: hsl(300, 43%, 22%);
    width: 420px;
    border-radius: 10px;
    padding: 40px 30px;
}
.card-container2{
    margin-top: 20px;
}
.card-container3{
    margin-top: 40px;
}
.card-container span{
    color:hsl(303, 10%, 53%);
    font-weight: 500;
    line-height: 25px;
}
.card-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.card-title{
    display:flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 20px;
}
.card-title-name{
    margin-left: 30px;
}
.card-title-name h3{
    color:hsl(0, 0%, 100%);
    font-weight: 500;
    margin-bottom: 2px;
}

.card-title-name span{
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}
@media (max-width: 375px) {
    .container{
        width: 100%;
        height: 100vh;
        background-image: url("./images/bg-pattern-top-mobile.svg");
        background-repeat: no-repeat;
    }
    .section-container{
        width: 375px;
        height: auto;
        padding: 40px 0;
    }
    .section-container-main{
        display: grid;
        grid-template-columns: auto;

    }
    .title-container{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 375px;
        height: auto;
        padding: 0 20px;
    }
    .title-container h1{
        font-size: 35px;
    }
    .title-container span{
        font-size: 14px;
    }
    .container-new-main{
        margin-top: 40px;
        justify-self: center;
    }
    .new-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 40px;

    }
    .new-container span{
        margin-top: 10px;
    }
    .card-main{
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-container{
        width: 100%;
    }
    .card-container3{
        margin-top: 20px;
    }
    .container-1{
        margin-left: 0;
    }
    .container-2{
        margin-left: 0;
    }
    .container-3{
        margin-left: 0;
    }
}